html {
  font-family: Inter;
  font-size: 14px;
  color: #5a6170;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 0px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
}

.button {
  display: block;
}

.button-micro {
  padding: 0 12px;
  border-radius: 10px;
  border: 2px solid #cbcfd6;
  height: 27px;
}

.button-micro__hide {
  font-size: 12px;
  font-weight: 600;
  color: #cbcfd6;
}

.button-micro__text {
  font-size: 12px;
  font-weight: 600;
}

.navigation {
  display: flex;
  gap: 5px;
}

button:disabled,
button[disabled] {
  border: 2px solid #cbcfd6;
  background-color: #cccccc;
}
